<div class="container d-flex justify-content-center align-items-center" style="margin-top: 4rem;">

    <div class="card">
        <div class="head">
            <h1 style="margin-top: 1rem; font-weight: bold; text-align:center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 1.5rem; color: white;">Sign Up:</h1>
        </div>
        <div class="upper">
            <div class="user text-center">
                <label for="formFile" class="form-label">.</label>
                <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
                <button (click)="this.upload()" type="button" class="btn btn-dark mt-2">Upload Picture</button>
            </div>
            <form [formGroup]="userGroup" style="justify-content:center; text-align:center">
                <div>
                    <label for="userName">UserName</label><br>
                    <input type="text" placeholder="userName" formControlName="userName" /><br>
                    <span id="userName" class="help-block"></span>
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input [type]="show ? 'text' : 'password'" type="password" placeholder="password"
                        formControlName="userPassword" /><br />
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" class="password-check-box" id="exampleCheck1"
                        (click)="showPassword()">
                    <label class="form-check-label" for="exampleCheck1">Show Password</label>
                </div>
                <div>
                    <label for="userDOB">DOB</label><br>
                    <input type="date" placeholder="DBO" formControlName="userDOB" /><br />
                </div>
                <div>
                    <label for="userBio">Bio</label><br>
                    <input type="text" placeholder="Bio" formControlName="userBio" /><br />
                </div>
                <div>
                    <label for="userBreed">Breed </label><br>
                    <input type="text" placeholder="Breed" formControlName="userBreed" /><br />
                </div>
                <div>
                    <label for="userSize">Size</label><br>
                    <input type="string" placeholder="Size" formControlName="userSize" /><br />
                </div><br>
                <ul  style="list-style-type: none; ">
                    <li>
                        <label *ngIf="isRegisterConflict" style="color: red; margin-right: 1.5rem; margin-bottom: 1rem;">User Name already exists or a field isn't filled out.</label>
                        <div>
                            <button class="btn btn-primary"
                                style=" background-color:#940132; font-size: 1.5rem; border:none; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                                type="button" (click)="addUser(userGroup)">Submit
                            </button>
                        </div><br>
                    </li>
                    
                    <li>
                        <div>
                            <label class="form-check-label" style="margin-top: 1rem; margin-right: 1rem;">Already have an account?</label>
                            <a routerLink="/Login" class="btn-sm btn-danger"
                                style="padding: 0.5rem; text-decoration: none;">Login</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!-- <div>
    <label for="userPassword">Password</label><br>
    <input [type]="show ? 'text' : 'password'" type="password" placeholder="password" formControlName="userPassword" /><br />
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" class="password-check-box" id="exampleCheck1" (click)="showPassword()">
        <label class="form-check-label" for="exampleCheck1">Show Password</label>
    </div>
    <div>
    <label for="userDBO">DBO</label><br>
    <input type="date"placeholder="DBO" formControlName="userDBO"/><br />
    </div>
    <div>
    <label for="userBio">Bio</label><br>
    <input type="text" placeholder="Bio"  formControlName="userBio" /><br />
    </div>
    <div>
    <label for="userBreed">Breed </label><br>
    <input type="text" placeholder="Breed" formControlName="userBreed" /><br />
    </div>
    <div>
    <label for="userSize">Size</label><br>
    <input type="text" placeholder="Size" formControlName="userSize" /><br />
    </div>
    <button class="btn btn-primary" style="margin-top: 1rem; margin-left: 2.5rem; background-color:#940132; font-size: 1.5rem; border:none; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" type="button" (click)="addUser(userGroup)">Submit</button>
    <div>
        <label class="form-check-label" style="margin-top: 1rem;">Already have an account?</label>  
        <a routerLink="/Login" class="paw-finder-login-signup-button" style="padding: 0.5rem;">Login</a> 
    </div> -->
</div>


