<div style="margin-left: 40%;border-color: darkolivegreen;border-width: 5px black;">
<form>
    <!-- <div>
    <label for="userID">UserID</label><br>
    <input type="number" placeholder="ID" formControlName="userID" /><br />
    </div> -->
    <div>
    <label for="userName">UserName</label><br>
    <input type="text" placeholder="userName" formControlName="userName"/><br>
    </div>
    <div>
    <label for="password">Password</label><br>
    <input [type]="show ? 'text' : 'password'" type="password" placeholder="password" formControlName="userPassword" /><br />
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" class="password-check-box" id="exampleCheck1" (click)="showPassword()">
        <label class="form-check-label" for="exampleCheck1">Show Password</label>
    </div>
    <div>
    <label for="userDBO">DBO</label><br>
    <input type="date"placeholder="DBO" formControlName="userDBO"/><br />
    </div>
    <div>
    <label for="userBio">Bio</label><br>
    <input type="text" placeholder="Bio"  formControlName="userBio" /><br />
    </div>
    <div>
    <label for="userBreed">Breed </label><br>
    <input type="text" placeholder="Breed" formControlName="userBreed" /><br />
    </div>
    <div>
    <label for="userSize">Size</label><br>
    <input type="number" placeholder="Size" formControlName="userSize" /><br />
    </div>
<a routerLink="login">Back To Login</a> <button class="btn btn-outline-success" style="margin: 1rem;" type="button" (click)="Registor()">Submit</button>
</form>
</div>

