

.paw-finder-login-signup-button
{
    background-color: #940132;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white; 
    border: none;
    text-decoration: none;
}
.card{
    background-color: rgba(0, 0, 0, 0.11);
}
label{
    color:rgb(0, 0, 0)
}

.paw-finder-login-signup-button:hover
{
    cursor: pointer;
}