<!-- if there is a user to be shown, it will show this html below -->
<div *ngIf="showNextProfile" class="flex-container">
    <div class="card" style="width: 50rem; max-height: 50rem;">
        <img [src]=userImg class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{userName}}</h5>
          <p class="card-text">{{userBio}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="group-item-heading">Breed: </span>{{userBreed}}</li>
          <li class="list-group-item"><span class="group-item-heading">DOB: </span>{{userDOB}}</li>
          <li class="list-group-item"><span class="group-item-heading">Size: </span>{{userSize}}</li>
        </ul>
        <div class="card-body">
            <div class="buttons-spaced-evenly-container">
                <button class="favorite styled btn-danger" type="button" data-toggle="popover"
                    title="Dislike" chat><i class="material-icons" (click)="dislikeUser(userID, myUserID)">thumb_down</i></button>
                <button class="favorite styled btn-success" type="button" data-toggle="popover"
                    title="Like" match><i class="material-icons" (click)="likeUser(userID, myUserID)">thumb_up</i></button>

            </div>
        </div>
    </div>
</div>

<!-- if there are no more users to be shown, it will show the html below -->
<div *ngIf="!showNextProfile" class="flex-container">
    <div class="card" style="width: 50rem;">
        <img src="https://pawfinderstorageaccount.blob.core.windows.net/pawfindercontainer/NoMoreUsersWarningImg.jpg">
        <div class="card-body" style="text-align: center;">
            <h4 class="card-title">No more users at this time!</h4>
            <ul class="list-group list-group-flush">
                <!-- TODO: once feature is added for user preferences, then add a that to this message saying:
             "try updating search preferences to include a larger range of users type thing" -->
                <li class="list-group-item">Please come back later.</li>
            </ul>
        </div>
    </div>
</div>
