.flexbox-container
{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-container-row
{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-heading
{
  text-align: center;
  margin-bottom: -1rem; 
}

.message-container
{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 0.5rem;
}

.scrollable-container
{
  height: 70vh;
}

.message-scrollable
{
  width: 45%;
  height: 100%;
  overflow-y: auto;
  word-wrap: normal;
  white-space: pre-wrap;
}

.sender-text-box
{
  border: 0.2rem black solid;
  background-color: lightblue;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  width: 100%;
}

.receiver-text-box
{
  border: 0.2rem black solid;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  background-color: lightgray;
  width: 100%;
}

.chat-username-heading
{
  font-weight: bold;
}

.text-box-padding
{
  width: 40%;
  margin-left: 2rem;
  margin-right: 1rem;
}

.send-msg-button
{
  margin-right: 2rem
}