<h1 style="text-align: center; margin-top: 4rem;">Chatting with: {{chattingUserName}}</h1>
<div  class="chat-room">
    <div>

        <div class="row px-lg-2 px-2">

            <div class="container" style="margin-left: 30rem;">
                <ul *ngFor = "let message of listOfMessages">
                    <div style="border: 1rem black;">
                        <li *ngIf = "message.senderID === myUserID">
                            <div style="background-color: blue; padding: 1rem; margin-right: 60rem; color: white;">
                                <h3 style="font-weight: bold;">{{myUserName}}</h3>
                                <p style="margin-left: 1rem;">{{message.messageText}}</p>
                            </div>
                        </li>
                        <li *ngIf = "message.senderID === chattingUserID">
                            <div style="background-color: white; padding: 1rem; margin-right: 60rem;">
                                <h3 style="font-weight: bold;">{{chattingUserName}}</h3>                        
                                <p style="margin-left: 1rem;">{{message.messageText}}</p>
                            </div>
                        </li>
                        <!-- <li *ngIf="message.SenderID === myUserID">
                                <p style="text-align: right;">{{message.messageText}}</p>
                            </li>
                            <li *ngIf="message.ReceiverID === chattingUserID">
                                <p  style="text-align: left;">{{message.messageText}}</p>
                            </li> -->
                    </div>
                </ul>
                        
            </div>

            <div class="col-md-6 col-xl-4 px-0" style="margin-left: 40rem;">
                    <div class="white">
                        <div class="form-group basic-textarea">
                            <form [formGroup]="messageGroup">
                                <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3"
                                    placeholder="Type your message here..." formControlName="messageText"></textarea>
                            </form>
                        </div>
                    </div>
                    <button type="button" mdbBtn color="pink" outline="true" rounded="true" size="sm"
                        class="waves-effect waves-dark float-right" class="btn btn-primary" style="margin-bottom: 3rem;" (click)="sendMessage(messageGroup)">Send</button>
                </div>

            </div>
    </div>
</div>