<!-- TODO: For signalr help: https://medium.com/linkit-intecs/how-to-create-a-chat-app-with-asp-net-core-3-1-signalr-and-angular-10-a7fde1e70933 -->
<div class="flexbox-container">
    <h1 class="chat-heading">Chatting with: {{chattingUserName}}</h1>
</div>

<div class="flexbox-container scrollable-container">
    <div class="message-scrollable">
        <div *ngFor = "let message of listOfMessages" class="message-container">
            <div *ngIf = "message.senderID === myUserID" class="sender-text-box">
                <h3 class="chat-username-heading">{{myUserName}}</h3>
                <p>{{message.messageText}}</p>
            </div>
            
            <div *ngIf = "message.senderID === chattingUserID" class="receiver-text-box">
                <h3 class="chat-username-heading">{{chattingUserName}}</h3>                        
                <p>{{message.messageText}}</p>
            </div>
        </div>    
    </div>
</div>

<div class="flexbox-container-row">
    <form [formGroup]="messageGroup" class="text-box-padding">
        <textarea class="form-control pl-2 my-0" rows="2"
            placeholder="Type your message here..." formControlName="messageText"></textarea>
    </form>
    <button type="button" mdbBtn color="pink" outline="true" rounded="true" size="sm"
        class="btn btn-primary send-msg-button" (click)="sendMessage(messageGroup)">Send</button>
</div>