<div *ngIf="noInfoToDisplayOnChart">
  <div class="ratio-pie-chart">
    <h3 class="ratio-chart-heading">Like/Dislike Ratio <span>
    <div class="tooltip">ⓘ
      <div class="right">
        <p>This graph shows your like to dislike ratio. To increase your likes try adding more to your profile!</p>
        <i></i>
      </div>
    </div>
    </span>
    </h3>
  <div class="chart">
    <h5 class="ratio-chart-heading">You currently do not have any likes or dislikes yet! 
      TEST THIS AND LIKE TO SEE IF IT WORKS TOMORROW</h5>
  </div>
  </div>
</div>

<div *ngIf="!noInfoToDisplayOnChart">
  <div class="ratio-pie-chart">
    <h3 class="ratio-chart-heading">Like/Dislike Ratio <span>
    <div class="tooltip">ⓘ
      <div class="right">
        <p>This graph shows your like to dislike ratio. To increase your likes try adding more to your profile!</p>
        <i></i>
      </div>
    </div>
    </span>
    </h3>
  <div class="chart">
    <canvas baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
    </canvas>
  </div>
  </div>
</div>
