<nav *ngIf="nav.visible" class="navbar navbar-expand-lg">
    <div class="container-fluid" style="background-color: rgba(8, 83, 117, 0.747);margin-top: 0%;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-brand">
                
                    <a class="nav-link active" aria-current="page" routerLink="/HomePage" style="color: white;"><span
                            class="material-icons">home</span> Home</a>
                </li>
                <li class="navbar-brand">

                    <a class="nav-link active" aria-current="page" routerLink="/Profile" style="color: white;"><span class="material-icons">account_circle</span> Profile</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link active" aria-current="page" routerLink="/Match" style="color: white;"><span class="material-icons">groups</span> Matches</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link active" aria-current="page" routerLink="/Like" style="color: white;"><span class="material-icons">favorite</span> Like</a>
                            
                </li>
        
                <li class="navbar-brand">
                    
                    <a class="nav-link active" aria-current="page" routerLink="/Chat"  style="color: white;"><i class="material-icons">chat</i> Chat</a>

                </li>
            </ul>
        </div>
    </div>
</nav>