<app-nav-bar></app-nav-bar>
<ul *ngFor="let user of filteredListOfUser">
    <li>
        <div class="container d-flex justify-content-center align-items-center">

            <div class="card">
                <div class="upper">
                    <div class="user text-center">
                        <img [src]="user.photo" alt="">
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <h2 class="mb-0">UserName: {{user.userName}} </h2>
                    <h4>Bio: {{user.userBio}}</h4>
                    <h4>Breed: {{user.userBreed}}</h4>
                    <h4>Size: {{user.userSize}}</h4>
                    <h4>Birth Date: {{user.userDOB}}</h4>
                    <div class="d-flex justify-content-between align-items-center mt-4 px-4 "
                        style="margin-bottom:1.5rem;">
                        <div class="stats">

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item" style="list-style-type: none; padding: 1.5rem;">
                                        <a class="page-link" routerLink="/Profile" aria-label="Next">
                                            <button class="favorite styled btn-dark" type="button" data-toggle="popover"
                                                title="Edit" edit>
                                                Edit</button>

                                        </a>

                                    </li>
                                    <li class="page-item" style="list-style-type: none; padding: 1.5rem;">
                                        <a class="page-link" routerLink="/Chat" aria-label="Next">
                                            <button class="favorite styled btn-success" type="button"
                                                data-toggle="popover" title="Chat" chat><i
                                                    class="material-icons">chat</i></button>

                                        </a>

                                    </li>
                                    <li class="page-item" style="list-style-type: none; padding: 1.5rem;">
                                        <a class="page-link" routerLink="/HomePage" >
                                            <button class="favorite styled btn-danger" type="button"
                                                data-toggle="popover" title="Logout">
                                                <i class="icon-signout">Logout</i> 
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </li>
</ul>