.profile-container
{
    margin-top: 2rem;
}

.flex-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: row;
}

.flexbox
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-box
{
    padding: 1rem;
    border: 0.5rem solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.switch-login-to-signup
{
    font-size: 2rem;
    text-align: center;
}

.paw-finder-login-signup-button
{
    background-color: #940132;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: white; 
    border: none;
}

.paw-finder-login-signup-button:hover
{
    cursor: pointer;
}

li 
{ 
    list-style-type: none; 
}

button
{
    border-radius: 10%;
}

.chooseButtons
{
    background-color: white;
    color: gray;
    margin-left: 1rem;
}