<!-- <div style ="margin-left: 40%;">
<img src="https://th.bing.com/th/id/OIP.Tt6y06apxTayghQwh3bUoQHaEK?w=207&h=100&c=7&r=0&o=4&dpr=1.5&pid=1.7" alt="">
<h2>{{Users.userName}} UserName</h2> 
<h4>{{Users.userBio}}userBio</h4> 
<h4>{{Users.userBreed}}userBreed</h4>
<h4>{{Users.userSize}}userSize</h4>
</div> -->

<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
         <div class="upper">
             <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid" alt=""> 
            </div>
        <div class="user text-center">
            <div class="profile"> <img src="https://th.bing.com/th/id/OIP.Tt6y06apxTayghQwh3bUoQHaEK?w=207&h=100&c=7&r=0&o=4&dpr=1.5&pid=1.7" class="rounded-circle" width="80" alt=""> 
            </div>
        </div>
        <div class="mt-5 text-center">
            <h4 class="mb-0">Benjamin Tims</h4> <span class="text-muted d-block mb-2">Los Angles</span> <button
                class="btn btn-primary btn-sm follow">Follow</button>
            <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                <div class="stats">
                    <button class="mb-0">Match</button> <span>8,797</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Like</h6> <span>142</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Chat</h6> <span>129</span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Pass</h6> <span>129</span>
                </div>
            </div>
        </div>
    </div>
</div>