
#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}
.slide {
    float: left;
    height: 510px;
    width: 728px;
}
.slide-wrapper {
    width: calc(728px * 4);
    animation: slide 10s ease infinite;
}
.slide:nth-child(1) {
    
}
img:hover{
       border-style: groove;
 }

.slide:nth-child(2) {
    
}

.slide:nth-child(3) {
    
}

.slide:nth-child(4) {
    
}
@keyframes slide {
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}
h1{
    color :beige;
    height: 2rem;

}