.flex-wrapper 
{
    align-items: center;
    display:flex;
    flex-direction: column;
}

.home-heading
{
    margin-top: 2rem;
}

#slideshow 
{
    overflow: hidden;
    height: 32rem;
    width: 45.5rem;
    margin: 0 auto;
}

.slide 
{
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    float: left;
    height: 25rem;
    width: 45.5rem;
}

.slide-wrapper 
{
    width: calc(45.5rem * 3);
    animation: slide 60s infinite;
}

.slide:nth-child(1) 
{
    
}

.slide:nth-child(2)
{
    
}

.slide:nth-child(3)
{
    
}

@keyframes slide {
    33% {
        margin-left: 0rem;
    }

    33% {
        margin-left: calc(-45.5rem * 1);
    }

    33% {
        margin-left: calc(-45.5rem * 2);
    }

}

h1
{
    color :white;
    height: 2rem;
}

.span-text 
{
    color: white;
    font-size: 1rem;
}

.paw-finder-login-signup-button
{
    background-color: #940132;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 15%;
    border-color: black;
}

.paw-finder-login-signup-button:hover
{
  background-color: rgb(245, 35, 63);
}