<div class="flex-wrapper">
    <h1 class="home-heading">Welcome to PawFinder</h1>
    <img src="https://cdn.discordapp.com/attachments/948706617715753020/951603120620830750/Logo.png" alt="logo">
</div>
<div>
    <div id="slideshow">
        <div class="slide-wrapper">
            <div class="slide">
                <h1 class="slide-number" >
                    Find dogs based on similar interests!
                </h1>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmx8fS9Y9mbTZUb0GDzymS1UhlF7Wwn1rk8A&usqp=CAU"
                        alt="logo">
            </div>
            <div class="slide">
                <h1 class="slide-number" >
                    Like them to try and match with them!
                       </h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO7dEu7EeDG074T4RkubQk8Sf_75fouLrVww&usqp=CAU"
                        alt="logo">
            </div>
            <div class="slide">
                <h1 class="slide-number">
                    Chat with the dogs you've matched with!
                </h1>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTprwQDvb5FdLx0BJrwcBFtZIbu2fugkmqifQ&usqp=CAU" alt="logo">
                
            </div>
        </div>
    </div>   
</div>
<div>
    <h1 style="text-align: center">About Us</h1>
    <h3 style="text-align: center; color: white;">We are an app that helps you find other dogs to become friends with! Start matching with other dogs today!</h3>
</div>


