.match-heading
{
    margin-top: 1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: center;
}

.flex-container
{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.button-centered
{
    display: flex;
    justify-content: center;
}

.message-button
{
    margin-left: 0.5rem;
}

.group-item-heading
{
    font-size: 1rem;
    font-weight: bold;
}