
label{
    color:rgb(255, 255, 235);
    font-size: large;
}
.paw-finder-login-signup-button:hover{
  background-color: rgb(245, 35, 63);
}
.form:hover{
      border-style: groove;
      background-color: aqua;
      
  
 }

.paw-finder-login-signup-button
{
    background-color: #940132;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 15%;
}

/* .switch-login-to-signup
{
    font-size: 2rem;
    text-align: center;
} */

.login-footer
{
    text-align: right;
    margin-top: 1rem;
    margin-right: 1rem;
} 
.email-and-pw-textbox-div{
  padding:2rem;
  background-color: rgba(80, 80, 74, 0.616);
}

.email-and-pw-textbox-div:hover{
    background-color: rgba(62, 62, 65, 0.637);
}