  <div class="container d-flex justify-content-center align-items-center">
    <form [formGroup]="userGroup" class="informationForm">
      <h1 class="d-flex justify-content-center align-items-center">Login</h1>
      <div class="form-group" class="email-and-pw-textbox-div">
        <label class="email-and-pw-label" for="exampleInputEmail1">User Name:</label>
        <input class="email-and-pw-textbox" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="user name" fomControlName="userName">
      </div>
      <div class="form-group" class="email-and-pw-textbox-div">
        <label class="email-and-pw-label" for="exampleInputPassword1">Password:</label>
        <input [type]="show ? 'text' : 'password'" class="form-control" id="exampleInputPassword1"
          placeholder="password" required.value>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" class="password-check-box" id="exampleCheck1"
          (click)="showPassword()" required.value>
        <label class="form-check-label" for="exampleCheck1">Show Password</label>
      </div>
      <button type="submit" class="btn btn-success" class="paw-finder-login-signup-button"
        (click)="checkUser(userGroup)" *ngIf="isValid "routerLink="/Users" >Login</button><div class="switch-login-to-signup ">
        </div>
        <div>
          <label class="form-check-label">Don't have an account?</label>
          <a routerLink="/Registor" class="btn-sm btn-dark">Sign Up</a>
        </div>
    </form>
  </div>
